<h2 class="title">Products</h2>

<mat-card *ngFor="let product of products" class="list-item-info">
  <mat-card-title class="card-title">
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </mat-card-title>
  <mat-card-content class="card-content">
    <p class="card-description">{{product.description}}</p>
    <p class="card-price">${{product.price}}</p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-button (click)="onBuy(product)">Buy</button>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]">
      <button mat-button>More Info</button>
    </a>
  </mat-card-actions>
</mat-card>



