<div class="container">
  <h1 class="product-title">Product Name</h1>
  <div class="product-info">
    <img
      class="product-info-image"
      src="./assets/HRT-H-Harness.jpg"
      alt="Product Image"
    >
    <div class="product-info-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Ut ac ligula quis libero malesuada feugiat.</p>
      <div class="product-info-price">
        <p>$100</p>
      </div>
      <div class="product-info-quantity">
        <p>Quantity:</p>
        <input type="number" value="1" min="1" max="100" />
      </div>
      <div class="product-info-add-to-cart">
        <button>Add to Cart</button>
      </div>
    </div>
  </div>
</div>

